###########################################################
# FLAKE8 CONFIGS
###########################################################

# This is required until flake8 supports pyproject.toml

# ---------------------------------------------------------
# FLAKE8
# ---------------------------------------------------------
[flake8]

# These are "black" compatible
max-line-length = 88
extend-ignore = E203, E501, W503

# Excludes
extend-exclude = .venv/

###########################################################